In [2]:
import pandas as pd
df = pd.read_csv("Data/final_data1")

In [3]:
df.head(2)

,Unnamed: 0,created_utc,score,selftext,subreddit,title,url,created,d_
0,0,1574166819,1,NaN,musicsoftwaredeals,Cymatics Euphoria Vocals Library[FREE],https://www.reddit.com/r/MusicProductionDeals/...,1.574167e+09,"{'created_utc': 1574166819, 'score': 1, 'selft..."
1,1,1574166819,1,[removed],askweb,"Comedians on Reddit, what are some things you'...",https://www.reddit.com/r/askweb/comments/dyju1...,1.574167e+09,"{'created_utc': 1574166819, 'score': 1, 'selft..."

In [4]:
def propegate(df,path,iterations,start):
    for i in range(start,iterations):
        cf = pd.read_csv(path+str(i))
        df = df.append(cf)
    return(df)

In [5]:
df = propegate(df,"Data/final_data",21,2)

In [6]:
print(len(df))

500000

In [ ]:
df.to_csv("FND_1")

In [17]:
df = pd.read_csv("Data/final_data22")
df = propegate(df,"Data/final_data",49,22)

In [18]:
print(len(df))

700000

In [20]:
df.to_csv("FND_2")